*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto',sans-serif ;
}
header{
background-image: url(image/developpement.jpg);
height: 100vh;
background-size: cover;
background-position: center;
}

.logo a{
   color: #fff;
   padding: 0px 20px;
   border: 1px solid #fff;
   position: absolute;
   top: 10px;
   left: 10px;
   text-transform: uppercase;
   text-decoration: none;
   font-weight: 900;
   font-size: 1rem;
}
.logo span{
   color: rgb(165, 42, 42);
   font-weight: bold;
   font-size: 1rem;
} 

ul{
   list-style: none;
   float: right;
   display: flex;
   margin-top: 4px;
}

ul li{
   padding:5px 10px ;
   text-transform: uppercase;
   border: 1px solid transparent;
   margin: 10px;
   color:#fff ;
   text-decoration: none;
   font-weight: 500;
   transition: o.6s ease;
}

.text{
   position: absolute;
   top: 40%;
   color: #fff;
}
.text span{
   color: brown;
}

section{
   margin-left: 10%;
   position: center;
}

ul li a:hover{
   background: #fff;
   color: #000; 
}

ul li.active a{
background: #fff;
color: #000;
}
.principale{
   max-width: 114rem;
   margin: 0 auto;
}

.namefield{
   list-style: none;
   float: right;
   display: flex;
   margin-top: 4px;
}
