*{
    margin: 0;
    padding: 0;
    font-family: "Roboto" ,"sans-serif";
    box-sizing: border-box;
    transition: all.2s linear;
    text-decoration: none;
    border: none;
}
html{
    font-size: 62.5%;
    overflow: hidden;
    scroll-padding-top: 7em;
    scroll-behavior: smooth;
}
body{
    position: relative;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 8px;
    height: 50px;
}
header .logo{
    color: #0f0c0c;
    font-size: 25px;
    font-weight: bolder;

}
header .logo span{
    color: blue;
}
.principal{
    display: flex;
}
.principal li{
    list-style: none;
    margin: 0 25px;
}

.principal li{
    list-style: none;
    margin: 0 25px;
}
.principal li a{
    font-size: 14px;
    color: #000;
    font-weight: 300;
    transition: o.2s;
}
.principal li a:hover{
    color: blue;
}
header button{
    background-color: blue;
    cursor: pointer;
    color: #fff;
    padding: 5px 25px;
}
#Accueil{
    margin-top: 10px;
    height: calc(100vh - 10px);
    padding: 0 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-size: 2rem;
}
#Accueil h1 span{
    color: blue;
}
img{
    width: 150%;
    height: 170%;
}
#propos{
    margin-top: 10px;
    height: calc(100vh - 10px);
    padding: 0 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-size: 2rem;
}