*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto',sans-serif ;
}
body{
background: rgb(207, 13, 149);
font-size: 14px;
font-weight: bold;
}
html{
    scroll-behavior: smooth;
 }
nav{
    position: fixed;
    top:0 ;
    left: 0;
    width: 100%;
    background-color: blue;
    color: #fff;
    padding: 10px;
}
 ul{
    display: inline;
    background-color: #fff;
}
 div{
    color: #fff ;
    padding:1px 5px ; 
    border: 1px  #fff ;   
    position: absolute; 
 }
 a{
    margin-left: 10px;
    margin-top: 10px;
    text-align: horizontal;
    color:#ce0b0b
    text-decoration #fff 19px;
    height: 50px;
 }
 div{
    color: #cc1884;
    position: absolute;
    text-decoration: solid 20px;
 }
img {
    height: 70vh;
    background-size: cover;
    background-position: center;
    text-decoration: none;
    padding-right:  50%;
 }
